{% extends 'start/generic.html' %}

{% load static %}

{% block extrahead %}
    {{ block.super }}
    <title>Asset Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/map.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

{% block page_content %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-auto col-sm-3">
                    <h1 class="m-0">Asset Map</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                {% block content %}
                    <div id="map"></div>
                    <script src="{% static 'portfolio/map.js' %}"></script>
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}