{% extends "start/generic.html" %}
{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block title %}
    {{ title }} Interactive Workflows by Objective
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8"
            src="{% static 'start/js/datatables/media/js/jquery.dataTables.js' %}"></script>

    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'workflow_explorer/css/workflow.css' %}">
{% endblock %}

{% block messages %}
    <div class="helpblock">
        <p>The Workflow manager groups interactive workflows by portfolio management objective.
            Here you can execute interactively or edit workflows and their associated data input. </p>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% include "workflow_explorer/wf_manager_breadcrumb.html" %}
{% endblock %}

{% block content %}

<div id="page" class="container-responsive">


    <div class="row">

        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li class="active"><a href="#home" role="tab" data-toggle="tab">Portfolio Information</a></li>
            <li><a href="#task1" role="tab" data-toggle="tab">Concentration Risk</a></li>
            <li><a href="#task2" role="tab" data-toggle="tab">Origination</a></li>
            <li><a href="#task3" role="tab" data-toggle="tab">Risk Appetite</a></li>
            <li><a href="#task4" role="tab" data-toggle="tab">Risk Capital</a></li>
            <li><a href="#task5" role="tab" data-toggle="tab">Other</a></li>
        </ul>
    </div>


    <div class="row">
        <div class="col-sm-12">
            {% for objective in objectives %}
            <div id="{{ objective | slugify }}" style="display: none;">

                {% for workflow in object_list %}

                    {% if workflow.get_objective_display == objective %}

                        <div class="content-block">
                            <h4> {{ workflow.name }} </h4>
                            <p> {{ workflow.description }} </p>

                            <table class="workflow_table">
                                <tbody>
                                <tr class="workflow_table_row">
                                    <td>Workflow Specification</td>
                                    <td>Serial Number</td>
                                    <td>Model Used</td>
                                    <td>Model Mode (Where Applicable)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>{{ workflow.id }}</td>
                                    <td>{{ workflow.workflow_model }}</td>
                                    <td>{{ workflow.model_configuration.get_ModelMethod_display }}</td>
                                    <td></td>
                                </tr>
                                <tr class="workflow_table_row">
                                    <td>Workflow Inputs</td>
                                    <td>Input Portfolio</td>
                                    <td>Scenario Data</td>
                                    <td>Model Configuration</td>
                                    <td>Model Data</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    {% if workflow.synthetic_portfolio %}
                                        <td>
                                            <a href="{% url 'admin:portfolio_explorer_syntheticdata_change' workflow.synthetic_portfolio.id %}"
                                               target="_blank">{{ workflow.synthetic_portfolio }}</a>
                                        </td>
                                    {% elif workflow.portfolio %}
                                        <td>
                                            <a href="{% url 'admin:portfolio_explorer_portfolio_change' workflow.portfolio.id %}"
                                               target="_blank">{{ workflow.portfolio }}</a>
                                        </td>
                                    {% else %}
                                        <td>None</td>
                                    {% endif %}
                                    {% if workflow.scenario_data %}
                                        <td>
                                            <a href="{% url 'admin:scenario_explorer_scenario_change' workflow.scenario_data.pk %}"
                                               target="_blank">{{ workflow.scenario_data }}</a>
                                        </td>
                                    {% else %}
                                        <td>None</td>
                                    {% endif %}
                                    {% if workflow.model_configuration %}
                                        <td>
                                            <a href="{% url 'admin:model_explorer_modelconfiguration_change' workflow.model_configuration.pk %}"
                                               target="_blank">{{ workflow.model_configuration }}</a>
                                        </td>
                                    {% else %}
                                        <td>None</td>
                                    {% endif %}
                                    {% if workflow.model_data %}
                                        <td>
                                            <a href="{% url 'admin:model_explorer_modeldata_change' workflow.model_data.pk %}"
                                               target="_blank">{{ workflow.model_data }}</a>
                                        </td>
                                    {% else %}
                                        <td>None</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>

                            <a class="btn btn-default"
                               href="{% url 'workflow_interactive' workflow.id %}"
                               target="_blank">
                                <i class="fa fa-hand-pointer-o"></i> Execute</a>
                            <a class="btn btn-default"
                               title="{{ workflow.description }}"
                               href="{% url 'admin:workflow_explorer_workflow_change' workflow.id %}"
                               target="_blank"> <i class="fa fa-edit"></i> Edit</a>
                            <a class="btn btn-default"
                               href="{% url 'admin:workflow_explorer_workflow_history' workflow.id %}"
                               target="_blank"> <i class="fa fa-history"></i> History </a>
                            <a class="btn btn-default"
                               href="{{ root_view }}/api/workflows/{{ workflow.id }}/"
                               target="_blank"><i
                                    class="fa fa-code"></i>
                                API</a>
                        </div>


                    {% endif %}

                {% endfor %}

            </div>
            {% endfor %}

        </div>
        <div class="col-sm-12">
            <p></p>
            <a href="{% url 'admin:workflow_explorer_workflow_add' %}" class="interface_buttons btn btn-default">Create
                New Workflow</a>
               <a href="{% url 'admin:workflow_explorer_workflow_add' %}" class="interface_buttons btn btn-default">Import Workflow</a>
        </div>
    </div>

</div>

<script>
    {% for objective in objectives %}
        function blockclick_{{ objective | slugify }}() {
            var x = document.getElementById('{{ objective | slugify }}');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            }
            else {
                x.style.display = 'none';
            }

        }
    {% endfor %}
</script>

{% endblock %}
