Django==5.2.10
djangorestframework
drf-yasg
numpy
pandas
scipy
Markdown
Pillow
django-leaflet
django-jazzmin
django-json-widget
django-jsoneditor
django-markdownfield
django-treebeard
django-import-export
django-countries
django-extensions
django-htmx
django-debug-toolbar
psycopg2-binary
openpyxl
Sphinx
sphinx-rtd-theme
selenium
behave-django
pytest
pytest-bdd
coverage
requests
behave
setuptools