Django==5.2.15
djangorestframework==3.17.1
drf-yasg
numpy
pandas
scipy
Markdown
Pillow==12.3.0
django-csp
django-leaflet
django-jazzmin==3.0.5
django-json-widget
django-jsoneditor
django-markdownfield==0.20.2
django-treebeard
django-import-export
django-countries
django-extensions
django-location-field
geojson
shapely
django-debug-toolbar
psycopg2-binary
openpyxl
Sphinx
sphinx-rtd-theme
selenium
behave-django
pytest==9.1.1
pytest-bdd
coverage
requests==2.34.2
behave
setuptools