{% extends 'start/generic.html' %}

{% load static %}

{% block page_content %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-auto col-sm-3">
                    <h1 class="m-0">Asset List</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <section id="content" class="content">
                <div class="row">
                    {% block content %}
                        <div class="asset_list">
                            <ul>
                                {% for asset in object_list %}
                                    <li>{{ asset.asset_identifier }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endblock %}
                </div>
            </section>
        </div>
    </div>

{% endblock %}