{% extends "start/tabular.html" %}
{% load i18n static %}
{% load custom_tags %}
{% load humanize %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'policy/css/policy.css' %}">
{% endblock %}

{% block title %}
    {{ title }} DataFlow Filter
{% endblock %}

{% block content %}


    <div class="card card-primary card-outline">
        <div class="card-info">
            <div class="card-header">
                <h4><i class="fa fa-table"></i> Filtered View</h4>
            </div>
            <div class="card-body">
                <div class="helpblock" id="page_content_front">
                    <p class="helpblocktext">
                        <i class="fa fa-info-circle"></i> If required to narrow the selection, SEARCH for keywords in
                        the
                        DataSet descriptions<br> CLICK on Analysis Icons to explore further any particular dataset<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-info">
            <div class="card-header">
                <h4><i class="fa fa-thermometer-quarter"></i> Status Update </h4>
            </div>
            <div class="card-body">
                {% include "policy/df_breadcrumb.html" %}
            </div>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-info">
            <div class="card-header">
                <h4><i class="fa fa-info-circle"></i> Dataseries Table </h4>
            </div>
            <div class="card-body">
                <table id="series_list" class="display responsive no-wrap" width="100%">
                    <thead>
                    <tr>
                        <th class="table_header">Policy Dimension</th>
                        <th class="table_header">Description</th>
                        <th class="table_header">Last Observation</th>
                        <th class="table_header">Analysis</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for DataSeries in series_list %}
                        <tr class="feed" id={{ DataSeries.id }}>
                            <td>{{ DataSeries.title }}</td>
                            <td>{{ DataSeries.title_long }}</td>
                            <td>{{ DataSeries.last_observation_date }}</td>
                            <td><a href="{% url 'policy:DataSeries2' DataSeries.identifier %}"
                                                 target="_blank"> <i
                                    class="fas fa-table fa-2x"></i> </a> <a
                                    href="{% url 'policy:Plot' DataSeries.identifier %}" target="_blank"> <i
                                    class="fas fa-chart-area fa-2x"></i> </a> <a
                                    href="{% url 'policy:Metrics' DataSeries.identifier %}" target="_blank"> <i
                                    class="fas fa-thermometer fa-2x"></i> </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>

    <script>
        $('#series_list').DataTable({
            "pagingType": "full_numbers",
            "responsive": true,
            "bSort": false,
            "displayLength": 50,
            "autoWidth": true
        });
    </script>


    <script>
        var content_data = {{ content_data | safe }};
        var freshness = {{ freshness | safe }};
        $("#red_no").html(freshness['red']);
        $("#orange_no").html(freshness['orange']);
        $("#yellow_no").html(freshness['yellow']);
        $("#gray_no").html(freshness['gray']);
    </script>

    <script>
        $(".feed").css("background-color", "#DBDBDB");
        var clicked = 0;
        var newClickedId = null;
        var oldClickedId = null;
    </script>

    <script>
        $(".feed").click(
            function () {
                newClickedId = $(this).attr('id');
                if (clicked === 0) {
                    clicked = 1;
                    clickedObj = $(this);
                    $(this).css("background-color", "#8F9160");
                    $("#page_content_front").html(content_data[newClickedId]);
                    $("#page_content_front").css("background-color", "#E2E593");
                    oldClickedId = newClickedId;
                } else if (clicked === 1 && newClickedId !== oldClickedId) {
                    clicked = 1;
                    $(this).css("background-color", "#8F9160");
                    clickedObj.css("background-color", "#DBDBDB");
                    $("#page_content_front").html(content_data[newClickedId]);
                    oldClickedId = newClickedId;
                    $("#page_content_front").css("background-color", "#E2E593");
                    clickedObj = $(this);
                } else if (clicked === 1 && newClickedId === oldClickedId) {
                    clicked = 0;
                    $(this).css("background-color", "#DBDBDB");
                    $("#page_content_front").html(content_data[newClickedId]);
                    $("#page_content_front").css("background-color", "#F0F0E6");
                    oldClickedId = newClickedId;
                }
            }
        );
    </script>

    <script>
        $(".feed").mouseover(
            function () {
                var currentId = $(this).attr('id');
                if (clicked === 0 && currentId !== oldClickedId) {
                    $(this).css("background-color", "#6FC8FC");
                    $("#page_content_front").html(content_data[currentId]);
                }
                if (clicked === 0) {
                    $("#page_content_front").html(content_data[currentId]);
                }
                if (clicked === 1 && currentId !== oldClickedId) {
                    $(this).css("background-color", "#6FC8FC");
                }
                if (clicked === 1 && currentId === oldClickedId) {
                    $(this).css("background-color", "#8F9160");
                }
            }
        );
    </script>

    <script>
        $(".feed").mouseleave(
            function () {
                var currentId = $(this).attr('id');
                if (clicked === 0) {
                    $(this).css("background-color", "#DBDBDB");
                }
                if (clicked === 1 && currentId !== oldClickedId) {
                    $(this).css("background-color", "#DBDBDB");
                }
                if (clicked === 1 && currentId === oldClickedId) {
                    $(this).css("background-color", "#E2E593");
                }
            }
        );
    </script>


{% endblock %}
