{% extends "start/tabular.html" %}
{% load i18n static %}
{% load custom_tags %}
{% load humanize %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'policy/css/policy.css' %}">
{% endblock %}

{% block title %}
    {{ title }} Policy Data Metrics for {{ object.title }}
{% endblock %}

{% block content %}

    {% include "policy/ds_breadcrumb.html" %}

    <div class="card card-primary card-outline">
    <div class="card-info">
        <div class="card-header">
            <h4><i class="fa fa-thermometer"></i> Policy Data: Derived Metrics</h4>
            <div class="card-body">
                <p class="helpblocktext">
                    <b>Dataseries: {{ object.title }}</b><br><i>Details: {{ object.title_long }}</i></p>
            </div>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-info">
            <div class="card-header">
                <h4><i class="fa fa-info-circle"></i> Metrics Table </h4>
            </div>
            <div class="card-body">
                <table id="metrics"></table>
            </div>
        </div>
    </div>

    <div class="card card-warning">
        <div class="card-info">
            <div class="card-header">
                <h3>Note:</h3>
            </div>
            <div class="card-body">
                <p id="explanatory_note">
                    <span>For data of ordinal type (e.g. policy severity classified from 0 to 4)
                        several numerical statistics may not be particularly meaningful</span>
                </p>
            </div>
        </div>
    </div>

    <script>
        var values = {{ object.values | safe }};
        var values_diff = {{ object.values_diff | safe }};
        var values_diff_p = {{ object.values_diff_p | safe }};
        var units = "{{ object.unit }}";
        var dates = {{ object.dates | safe }};
        var metrics = {{ object.metrics | safe }};
        var geometry_1D = {{ object.geometry_1D | safe }};
        var root_view = "{{ root_view }}";
    </script>

    <script type="text/javascript" charset="utf-8"
            src="{% static 'policy/js/table_metrics.js' %}"></script>



{% endblock %}

