{% extends "start/tabular.html" %}
{% load i18n static %}
{% load custom_tags %}
{% load humanize %}

{% block title %}
    {{ title }} Latest Policy Data News and Stats
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'policy/css/policy.css' %}">
{% endblock %}

{% block content %}

    <div class="card card-primary card-outline">
        <div class="card-body">
            <div class="helpblock" id="page_content_front">
                <p class="helpblocktext">This page lists latest datasets tracked and processed by the Policy Data Explorer and as well code / functionality upgrades</p>
            </div>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-info">
            <div class="card-header">
                <h4><i class="fa fa-info-circle"></i> Dataseries Table </h4>
            </div>
            <div class="card-body">

                <h3><i class="fa fa-dashboard"></i> Current Statistics</h3>
                {% include "policy/tbl_statistics.html" %}

            </div>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-info">
            <div class="card-header">
                <h3><i class="fa fa-hand-o-right"></i> Getting Started</h3>
            </div>
            <div class="card-body">
                {% include "policy/starter_links.html" %}
            </div>
        </div>
    </div>

    <script>
        var statistics = {{ statistics | safe }};
        var root_view = "{{ root_view }}";
        $("#total_datasets").html(statistics['total_datasets']);
        $("#tracked_datasets").html(statistics['tracked_datasets']);
        $("#live_datasets").html(statistics['live_datasets']);
    </script>


{% endblock %}