{% extends "start/tabular.html" %}
{% load i18n static %}
{% load custom_tags %}
{% load humanize %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'policy/css/policy.css' %}">
{% endblock %}

{% block title %}
    {{ title }} The Latest Policy Data News and Stats
{% endblock %}

{% block content %}

    <div class="card card-primary card-outline">
        <div class="card-info">
            <div class="card-header">
                <h4><i class="fa fa-info-circle"></i> About </h4>
            </div>
            <div class="card-body">
                <div class="helpblock" id="page_content_front">
                    <p class="helpblocktext">The Policy Overview page lists statistics for the policy datasets tracked
                        and processed by the Policy Data Explorer. It also provides links to the most common
                        functionalities supported.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-info">
            <div class="card-header">
                <h4><i class="fa fa-tachometer-alt"></i> Statistics Dashboard </h4>
            </div>
            <div class="card-body">

                {% include "policy/tbl_statistics.html" %}

            </div>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-info">
            <div class="card-header">
                <h3><i class="fa fa-play"></i> Getting Started</h3>
            </div>
            <div class="card-body">
                {% include "policy/starter_links.html" %}
            </div>
        </div>
    </div>

    <script>
        var statistics = {{ statistics | safe }};
        $("#total_datasets").html(statistics['total_datasets']);
        $("#tracked_datasets").html(statistics['tracked_datasets']);
        $("#live_datasets").html(statistics['live_datasets']);
    </script>


{% endblock %}