<div id="page_nav" class="hidden-xs">
    <span class="breadcrumb_button"><a style="color: white; font-weight: bold" href="{{ root_path }}/policy/about">About</a></span>
    <span class="breadcrumb_button"><a style="color: white; font-weight: bold" href="{{ root_path }}/policy/latest">Latest</a></span>
    <span class="breadcrumb_button"><a style="color: white; font-weight: bold" href="{{ root_path }}/policy/help">Help</a></span>
    <span class="breadcrumb_button"><a style="color: white; font-weight: bold" href="{{ root_path }}/policy/disclaimer">Disclaimer</a></span>
    <span class="breadcrumb_button"><a target="_blank" style="color: white; font-weight: bold" href="mailto:support@openriskmanagement.com?subject=Equinox Feedback&body=Hi there!">Feedback</a></span>
</div>