<div>
    <table id="db_stats" class="display responsive">
        <thead>
        <tr>
            <td>Targeted Data Sets (Raw Sources)</td>
            <td>Integrated Data Sets (After Data Cleaning)</td>
            <td>Active Data Sets (Recently Changed)</td>
            <td>Focus Metrics</td>
            <td>Visualization Types</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span id="total_datasets">100000</span></td>
            <td><span id="tracked_datasets">100000</span></td>
            <td><span id="live_datasets">100000</span></td>
            <td>3</td>
            <td>3</td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $('#db_stats').DataTable();
</script>