<span>
    <a class="gray_feed" href="{% url 'policy:DataFlow_categories' %}" target="_blank">All Data</a>
</span>
<span title="Major change">
    <a class="red_feed" href="{% url 'policy:DataSeries_filter' 'red' %}" target="_blank">Major Change</a>
</span>
<span class="red_no">1</span>
<span title="Significant change">
    <a class="orange_feed" href="{% url 'policy:DataSeries_filter' 'orange' %}" target="_blank">Significant Change</a>
</span>
<span class="orange_no">2
</span>
<span title="Material change">
    <a class="yellow_feed" href="{% url 'policy:DataSeries_filter' 'yellow' %}" target="_blank">Some Change</a>
</span>
<span class="yellow_no">3
</span>
<span class="gray_feed">Little Change</span>
<span class="gray_no">1
</span>