{% extends "start/vega.html" %}

{% block title %}
    {{ title }} PCAF Waterfall Report
{% endblock %}

{% block messages %}
    <div class="helpblock">
        <p>PCAF Waterfall Report</p>
    </div>
{% endblock %}

{% block content %}

    <div class="card card-primary card-outline">
        <div class="card-body pad table-responsive">
            <div class="card card-info">
                <div class="card-header">
                    <h4> PCAF Waterfall Report of GHG Inventory Emissions</h4>
                </div>
                <div class="card-body">
                    TODO
                    <div id="vis"></div>
                </div>
            </div>
        </div>
    </div>

    <script>

        let vspec = {{ vega_specification | safe }};

        vegaEmbed('#vis', vspec);

        {#let data = {{ visualization_data | safe }};#}
        {#vspec.data = data;#}
        {##}
        {#let runtime = vega.parse(vspec);#}
        {#let changeSet = vega.changeset().remove(vega.truthy).insert(data);#}
        {##}
        {#let view = new vega.View(runtime)#}
        {#    .logLevel(vega.Warn) // set view logging level#}
        {#    .initialize(document.querySelector('#vis')) // set parent DOM element#}
        {#    .renderer('svg') // set render type (defaults to 'canvas')#}
        {#    .hover() // enable hover event processing#}
        {#    .run(); // update and render the view#}
    </script>

{% endblock %}