{% extends "start/tabular.html" %}
{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block title %}
    {{ title }} Portfolio Statistics
{% endblock %}


{% block content %}

    <div class="card card-primary card-outline">
        <div class="card-body">
            <div class="helpblock">
                <p>Portfolio Overview</p>
            </div>
        </div>
    </div>

    {% for name, view in stats_view.items %}
        <div class="card card-info">

            <div class="card-header">
                <h4> Distribution by {{ name }} attribute </h4>
            </div>

            <div class="card-body">

                {{ view | safe }}

            </div>
        </div>

    {% endfor %}


{% endblock %}
