{% extends "start/generic.html" %}
{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block title %}
    {{ title }} Portfolio Overview
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8"
            src="{% static 'start/js/datatables/media/js/datatable.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'start/css/datatables/demo_table.css' %}">
{% endblock %}

{% block messages %}
    <div class="helpblock">
        <p><i class="fa fa-filter"></i>A summary overview of the portfolio</p>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {#  include "portfolio_explorer/root_breadcrumb.html" #}
{% endblock %}

{% block content %}


    <div id="page" class="container-responsive">


        <div class="row">
            <div class="col-sm-12">
                <div class="content-block">
                    <h4> Portfolio Overview </h4>
                    <ul>
                        <li>Portfolio ID: {{ portfolio.id }}</li>
                        <li>Portfolio Name: {{ portfolio.name }}</li>
                        <li>Portfolio Type: {{ portfolio.portfolio_type }}</li>
                        <li>Obligor Count: {{ obligor_count }}</li>
                        <li>Total Exposure: {{ total_exposure |stringformat:".3f" }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="content-block">
                    <h4> Portfolio Notes </h4>
                    {{ portfolio.notes }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="content-block">
                    <h4> Portfolio Summary Statistics </h4>
                    {{ pstats | safe }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="content-block">
                    <h4> Portfolio History </h4>
                    <ul>
                        <li>Created By: {{ portfolio.user }}</li>
                        <li>Generation Mode: {{ portfolio.generation }}</li>
                        <li>Creation Date: {{ portfolio.creation_date }}</li>
                        <li>Last Change Date: {{ portfolio.last_change_date }}</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

{% endblock %}

