{% extends "start/tabular.html" %}
{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block title %}
    {{ title }} Custom Portfolio Aggregate Reports
{% endblock %}

{% block messages %}
    <div class="helpblock">
        <p><i class="fa fa-object-group"></i> Select the attribute and aggregation method you would like to apply
    </div>
{% endblock %}

{% block breadcrumbs %}
    {# include "portfolio_explorer/root_breadcrumb.html" #}
{% endblock %}

{% block content %}

    <div id="page" class="container-responsive">

        <div class="col-sm-12">
            <div class="row">
                <div class="content-block">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <input class="interface_buttons btn btn-default" id='upload' type="submit"
                               value="Create Report"/>
                    </form>
                </div>
            </div>
            <div>
                <h4>Aggregation Results</h4>
            </div>
            <div class="row">
                <div class="content-block">
                    <table id="data_list">
                        <thead>
                        <tr>
                            <th>Portfolio Name</th>
                            <th>{{ result_label }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in result_data %}
                            <tr>
                                <td>{{ result.name }}</td>
                                <td>{{ result.aggregated }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <script>
        $('#data_list').DataTable({
            "pagingType": "full_numbers",
            "responsive": true,
            "bSort": true,
            "displayLength": 50,
            "autoWidth": true
        });
    </script>

{% endblock %}

