{% load static %}

<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Workflow Editor</title>
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>

    <!-- load javascript libraries -->
    <!--[if lte IE 8]>
    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/d3/r2d3.js' %}"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/d3/d3.js' %}"></script>
    <!--<![endif]-->

    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/jquery/jquery.js' %}"></script>
    <script type="text/javascript" charset="utf-8"
            src="{% static 'start/js/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/jeditable/jquery.jeditable.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/jsonld/jsonld.js' %}"></script>

    <!-- load generic stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'start/css/datatables/demo_table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'start/js/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'start/js/bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'start/css/singlepage.css' %}"/>

    <!--[if lt IE 9]>
    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/shim/html5shiv.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/shim/respond.js' %}"></script>
    <![endif]-->

    <!-- load javascript modules -->
    <script>var dataSet = [];</script>
    <script type="text/javascript" charset="utf-8" src="{% static 'workflow_explorer/js/xmlhttppost.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'workflow_explorer/js/updatepage.js' %}"></script>

</head>

<body>

<!-- Include Site Header -->
{% include "start/header.html" %}

<div id="page" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <div id="content0">
                <h3> Edit Workflow</h3>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <form method="post">{% csrf_token %}
                <div id="content1">
                    <table>
                        {{ form.as_table }}
                    </table>
                </div>
                <input class="btn btn-default" type="submit" value="Update"/>
            </form>

        </div>
    </div>


</div>

<!-- Include Site Footer -->
{% include "start/footer.html" %}


</body>
</html>

