{% extends "start/generic.html" %}

{% load i18n static %}

{% block title %}
    {{ title }} Documentation Page
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8"
            src="{% static 'start/js/datatables/media/js/jquery.dataTables.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'start/css/datatables/demo_table.css' %}">
{% endblock %}

{% block messages %}
    <div class="helpblock">
        This page collects links to the OpenCPM documentation. NB: Documentation concerns OpenCPM functionality, relevant concepts around Credit Portfolio Management are captured in the
        <a href="{% url 'start:Concepts' %}">Concepts</a> collection.
    </div>
{% endblock %}


{% block content %}


    <div class="row">
        <div class="col-sm-12">


            <h3>Documentation Entries</h3>
            <table id="data_list">
                <thead>
                <tr>
                    <th>Article</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                {% for page in doclist %}
                    <tr>

                        <td><a href="{{ page.1 }}"> {{ page.0 }} </a></td>
                        <td> {{ page.2 }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>

    <script>
        $('#data_list').DataTable({
            "pagingType": "full_numbers",
            "responsive": true,
            "bSort": true,
            "displayLength": 50,
            "autoWidth": true
        });
    </script>

{% endblock %}
