{% extends "admin/base_site.html" %}

{% load i18n static admin_modify grp_tags %}

{% block branding %}
    <div id="grp-branding"><img src="{% static 'start/img/equinox.png' %}" height="24"/></div>
{% endblock %}

{% block title %}openNPL{% endblock %}

{% block extrastyle %}
    <link href="{% static 'start/css/styling.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block breadcrumbs %}
    <ul>
        <li><a href="/admin">Home</a></li>
        <li>FrontPage</li>
    </ul>
{% endblock %}


{% block content %}

    <h1>Welcome to Equinox</h1>

    <p>
        Equinox is an open source platform that supports the holistic risk management of major spatial finance projects such as project finance.
    </p>

    <h2 style="margin-top:20px">The challenge of Project Finance Sustainability</h2>
    <p>Sustainability (both environmental and social) is a serious and ongoing issue that affects all economies. Developing tools and methodologies that improve the ability of all stakeholders to assess and report risks is thus an important objective</p>

    <h2 style="margin-top:20px">What exactly is Equinox?</h2>
    <p>Equinox is a <i>web application</i> that works together with a tailored data schema to provide easy access to Project Finance data adhering to the regulatory and ESG initiative recommendations. Running the application creates a <i>server</i> that can then be accessed via any regular browser. For easy installation and testing the current release uses an sqlite database instead of a production database.</p>

    <p>The initial functionality of Equinox focuses on integrating the following concepts</p>

    <ul>
    <li> The European Banking Authority's Criteria for the Credit Risk Assessemnt of Project Finance under the Standardized approach for Specialized Lending</li>
    <li> The Equator Principles</li>
    </ul>

    <p style="margin-top:20px">Once the platform is up and running a wealth of functionality is available. Just
        as a sample:</p>

    <table class="grp-table grp-full-width" style="margin-top:20px">
        <thead>
        <tr>
            <th>User Functionality</th>
        </tr>
        </thead>

        <tbody>
        <tr class="grp-row-even">
            <td>A user can log-in into the application with their credentials</td>
        </tr>
        <tr class="grp-row-odd">
            <td>Inspect the available data sets (tables or relations) that capture the EBA / EP Data requirements</td>
        </tr>
        <tr class="grp-row-even">
            <td>Insert, Update or Delete records (e.g. new Project Data)</td>
        </tr>
        <tr class="grp-row-odd">
            <td>Consult the documentation as to the meaning and requirements of each data element</td>
        </tr>
        </tbody>
    </table>

    <table class="grp-table grp-full-width" style="margin-top:20px">
        <thead>
        <tr>
            <th>Administrator Functionality</th>
        </tr>
        </thead>

        <tbody>
        <tr class="grp-row-even">
            <td>An administrator can create users and user groups and assign permissions</td>
        </tr>
        <tr class="grp-row-odd">
            <td>Perform bulk insertion or deletion of data sets</td>
        </tr>
        </tbody>
    </table>

    <table class="grp-table grp-full-width" style="margin-top:20px">
        <thead>
        <tr>
            <th>Developer Functionality</th>
        </tr>
        </thead>

        <tbody>
        <tr class="grp-row-even">
            <td>Equinox is based on the well known and loved Python web framework Django</td>
        </tr>
        <tr class="grp-row-odd">
            <td>Developers can customize and adapt the platform in unlimited ways</td>
        </tr>
        </tbody>
    </table>

    <h2 style="margin-top:20px">Join the Equinox community</h2>
    <p>
        The project aims to be driven by community needs. We welcome code contributions and feature
        requests via <a href="https://github.com/open-risk/equinox">github</a>.
    </p>


{% endblock %}
