{% extends "start/generic.html" %}
{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block title %}
    {{ title }} Batch Playbook Calculation
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8"
            src="{% static 'start/js/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf-8"
            src="{% static 'workflow_explorer/js/batch_workflow.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'workflow_explorer/css/workflow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'workflow_explorer/css/tables.css' %}">
{% endblock %}

{% block messages %}
    <div class="helpblock">
        <b><i class="fa fa-hand-pointer-o"></i> Review and Execute Selected Playbook: </b><i>{{ object.name }}</i>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% include "workflow_explorer/pb_breadcrumb.html" %}
{% endblock %}

{% block content %}


    <div id="page" class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <ul class="fieldWrapper">
                        <form id="myform" method="post" action="">{% csrf_token %}
                            {{ formset.as_p }}
                        </form>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <input class="interface_buttons btn btn-default" value="Calculate and Store" type="submit"
                       form="myform">

                <form action="{{ root_view }}/{% url 'admin:workflow_explorer_playbook_change'  object.pk %}">
                    <input class="interface_buttons btn btn-default" value="Edit Playbook" type="submit"
                           id="edit_button">
                </form>

                <form id="myForm" action='' method="get">{% csrf_token %}
                    <input class="interface_buttons btn btn-default" value="Explore Result" type="submit"
                           id="explore_button"
                           style="display: none;">
                </form>

                <p id="result_url" style="display: none;"></p>
            </div>
        </div>


    </div>

    <script>
        var workflow_raw = "{{ workflow_data | escapejs }}";
        var workflow = JSON.parse(workflow_raw);
        var model_url = "{{ model_url }}";
    </script>


{% endblock %}