{% extends "start/generic.html" %}
{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block title %}
    {{ title }} Interactive Workflow
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8"
            src="{% static 'start/js/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/d3/d3.js' %}"></script>
    <script type="text/javascript" charset="utf-8"
            src="{% static 'workflow_explorer/js/timeseries_graph.js' %}"></script>
    <script type="text/javascript" charset="utf-8"
            src="{% static 'workflow_explorer/js/recalculate_workflow.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'start/css/datatables/demo_table.css' %}">

{% endblock %}

{% block messages %}
    <div class="helpblock">
        <h4><i class="fa fa-hand-pointer-o"></i> Interactive Workflow</h4>
        <b>{{ object.name }} :</b> <i>{{ object.name }}</i>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% include "workflow_explorer/wf_breadcrumb.html" %}
{% endblock %}

{% block content %}

    <div id="page" class="container-non-responsive">


        <div class="row">
            <div class="col-sm-8">
                <div>
                    <h4>Results</h4>
                </div>
                <div id="results">
                    <pre>
                    {{ results_data }}
                    </pre>
                </div>
             </div>
            <div class="col-sm-4">
                <div>
                    <h4>Workflow Data</h4>
                </div>
                <div>
                    <ul class="fieldWrapper">
                        <form id="myform" action="">
                            {{ formset.as_ul }}
                        </form>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div id="interface_buttons">
                    <input class="btn btn-default" value="Recalculate" type="button" onclick='recalculate_workflow()'>
                </div>
            </div>
        </div>
    </div>


    <script>
        var results_raw = "{{ results_data | escapejs }}";
        var results = JSON.parse(results_raw);
        var workflow_raw = "{{ workflow_data | escapejs }}";
        var workflow = JSON.parse(workflow_raw);
        var model_url = "{{ model_url }}";
    </script>

    <script type="text/javascript" charset="utf-8" src="{% static 'workflow_explorer/js/renderpage.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'workflow_explorer/js/ajax_setup.js' %}"></script>

{% endblock %}

