{% extends "start/generic.html" %}
{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block title %}
    {{ title }}  Workflow Graph Editor and Calculation
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8"
            src="{% static 'start/js/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'start/js/jsplumb/jsPlumb-2.0.4.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'workflow_explorer/js/xmlhttppost.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'workflow_explorer/js/updatepage.js' %}"></script>

{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'workflow_explorer/css/workflow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'workflow_explorer/css/tables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'workflow_explorer/css/wiring.css' %}"/>
{% endblock %}

{% block messages %}
    <div class="helpblock">
        <b><i class="fa fa-hand-pointer-o"></i> Execute Workflow: </b><i>{{ object.name }}</i>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% include "workflow_explorer/wf_breadcrumb.html" %}
{% endblock %}

{% block content %}

    <div id="page" class="container-non-responsive">


        <div id="page" class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div id="diagramContainer">


                        <div id="item_top_left" class="url" style="margin-top:10px;"><b>Input Set</b>
                            <p></p> {{ object.input_set }} </div>

                        <div id="item_top_center" class="model" style="margin-left:100px;margin-top:10px;"><b>Model</b>
                            <p></p><a href={{ object.model_url }}>{{ object.model_url }}</a></div>

                        <div id="item_top_right" class="url" style="margin-left:100px;margin-top:10px;"><b>Output Set</b>
                            <p></p> {{ object.output_set }} </div>

                        <div id="item_bottom_left" class="data" style="margin-left:150px;margin-top:50px">
                            <b>Model Configuration</b>
                            <p></p><span class="tiny">{{ object.model_configuration }}</span>
                        </div>

                        <div id="item_bottom_right" class="data" style="margin-left:150px;margin-top:50px">
                            <b>Model Data</b>
                            <p></p><span class="tiny">{{ object.model_data }}</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p></p>

                    <form action="{{ root_view }}/{% url 'admin:workflow_explorer_workflow_change'  object.pk %}">
                        <input class="interface_buttons btn btn-default" value="Edit Worfklow" type="submit" id="edit_button">
                    </form>


                    <form method="post">{% csrf_token %}
                        <input class="interface_buttons btn btn-default" value="Calculate and Store" type="button"
                               onclick='JavaScript:xmlhttpPost()'
                               id="calculate_button">
                    </form>


                    <form id="myForm" action='' method="get">{% csrf_token %}
                        <input class="interface_buttons btn btn-default" value="Explore Result (Server GET)" type="submit"
                               id="explore_button"
                               style="display: none;">
                    </form>

                    <p id="result_url"></p>


                </div>
            </div>


        </div>

        <div id="model_url" style="display: none;">{{ object.model_url }}</div>
        <div id="input_set" style="display: none;">{{ object.input_set }}</div>
        <div id="output_set" style="display: none;">{{ object.output_set }}</div>
        <div id="model_configuration" style="display: none;">{{ object.model_configuration }}</div>
        <div id="model_data" style="display: none;">{{ object.model_data }}</div>

    </div>

        <script>
            jsPlumb.ready(function () {
                jsPlumb.connect({
                    source: "item_top_left",
                    target: "item_top_center",
                    connector: ["Straight"],
                    // connectorStyle: {strokeStyle: "#333", fillStyle: "red"},
                    paintStyle: {strokeStyle: "#649dcd", lineWidth: 10},
                    anchors: ["Right", "Left"],
                    endpoint: "Dot",
                    endpointStyle: {fillStyle: "#649dcd"}
                });
                jsPlumb.connect({
                    source: "item_top_center",
                    target: "item_top_right",
                    connector: ["Straight"],
                    paintStyle: {strokeStyle: "#649dcd", lineWidth: 10},
                    anchors: ["Right", "Left"],
                    endpoint: ["Dot", {radius: 10}],
                    endpointStyle: {fillStyle: "#649dcd"}
                });
                jsPlumb.connect({
                    source: "item_top_center",
                    target: "item_bottom_left",
                    connector: ["Bezier", {curviness: 75}],
                    anchors: ["Bottom", "Top"],
                    endpoint: "Rectangle"
                });
                jsPlumb.connect({
                    source: "item_top_center",
                    target: "item_bottom_right",
                    connector: ["Bezier", {curviness: 75}],
                    anchors: ["Bottom", "Top"],
                    endpoint: "Rectangle"
                });
            });

        </script>


{% endblock %}