<div class="bottom" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <ul id="menu-support-menu" class="menu">
                    <li><a href="mailto:support@openriskmanagement.com">Email Support</a></li>
                    <li><a title="Feedback" href="">Feedback</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <ul id="menu-documentation-menu" class="menu">
                    <li><a href="https://www.openriskmanagement.com/equinox/">User Documentation</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <ul id="menu-disclaimers-menu" class="menu">
                    <li><a title="Terms and Conditions" href="https://www.openriskmanagement.com/disclaimers/">Terms
                        and Conditions</a></li>
                    <li><a title="Copyright" href="https://www.openriskmanagement.com/copyright/">Copyright</a></li>
                    <li><a title="Privacy Policy" href="https://www.openriskmanagement.com/privacy-policy/">Privacy
                        Policy</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <ul id="menu-links-menu" class="menu">
                    <li><a title="Company Blog and Contact Info"
                           href="https://www.openriskmanagement.com/contact/">Blog and Contact Info</a></li>
                    <li><a title="Linkedin" href="https://www.linkedin.com/company/openrisk">Connect on Linkedin</a>
                    </li>
                    <li><a title="Github" href="https://github.com/open-risk">Connect on Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
