<div class="bottom" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <ul id="menu-information-menu" class="menu">
                    <li><a title="Terms and Conditions" href="https://www.openriskmanagement.com/disclaimers/">Terms
                        and Conditions</a></li>
                    <li><a title="Company Information and Contact"
                           href="https://www.openriskmanagement.com/contact/">Contact Information</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <ul id="menu-disclaimers-menu" class="menu">
                    <li><a title="Copyright" href="https://www.openriskmanagement.com/copyright/">Copyright</a></li>
                    <li><a title="Privacy Policy" href="https://www.openriskmanagement.com/privacy-policy/">Privacy
                        Policy</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <ul id="menu-links-menu" class="menu">
                    <li><a title="Github" href="https://github.com/open-risk">Connect on Github</a></li>
                    <li><a title="Reddit" href="https://www.reddit.com/r/open_risk/">Discuss on Reddit</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
