<li class="nav-item d-none d-sm-inline-block dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">Portfolio Status</a>
    <ul class="dropdown-menu">
{#        <li class="dropdown-header">General</li>#}
        <li><a class="dropdown-item" href="/reporting/portfolio_overview">Overview</a></li>
{#        <li class="dropdown-header">Reports</li>#}
        <li><a class="dropdown-item" href="/reporting/gpc_report">GPC Report</a></li>
        <li><a class="dropdown-item" href="/reporting/pcaf_mortgage_report">PCAF Mortgage Report</a></li>
        <li><a class="dropdown-item" href="/reporting/pcaf_waterfall_report">PCAF Waterfall Report</a></li>
        <li><a class="dropdown-item" href="/reporting/contractor_nuts3_map">Contractor Portfolio Map</a></li>
        <li><a class="dropdown-item" href="/reporting/manager_nuts3_map">Manager Portfolio Map</a></li>
        <li><a class="dropdown-item" href="/reporting/project_nuts3_map">Project Portfolio Map</a></li>
        <li><a class="dropdown-item" href="/reporting/gpp_report">GPP Report</a></li>
        {% comment 'TODO' %}
        <li><a class="dropdown-item" href="/reporting/portfolio_aggregates">Portfolio Aggregates</a></li>
        <li><a class="dropdown-item" href="/reporting/portfolio_summary">Portfolio Summary</a></li>
        {% endcomment %}
    </ul>
</li>

<li class="nav-item d-none d-sm-inline-block dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">Portfolio Impact</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/reporting/ghg_reduction">Project GHG Reduction</a></li>
        <li><a class="dropdown-item" href="/reporting/scope_2_report">Scope 2 Reporting</a></li>
    </ul>
</li>

<li class="nav-item d-none d-sm-inline-block dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">Portfolio Policies</a>
    <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="{% url 'policy:Policy_overview' %}">Overview</a></li>
        <li class="dropdown-item"><a href="{% url 'policy:DataFlow_categories' %}">Policy Catalog</a></li>
{#        <li class="dropdown-item"><a href="{% url 'policy:DataFlow_country' %}">Dataflow Catalog</a></li>#}
    </ul>
</li>