<li class="nav-item d-none d-sm-inline-block dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">Status</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/reporting/portfolio_overview">Overview</a></li>
        <li><a class="dropdown-item" href="/reporting/gpc_report">GPC Report</a></li>
        <li><a class="dropdown-item" href="/reporting/pcaf_mortgage_report">PCAF Mortgage Report</a></li>
        <li><a class="dropdown-item" href="/reporting/portfolio_map">Portfolio Map</a></li>
        <li><a class="dropdown-item" href="/reporting/gpp_report">GPP Report</a></li>
        {% comment 'TODO' %}
        <li><a class="dropdown-item" href="/reporting/portfolio_aggregates">Portfolio Aggregates</a></li>
        <li><a class="dropdown-item" href="/reporting/portfolio_summary">Portfolio Summary</a></li>
        {% endcomment %}
        </ul>
</li>

<li class="nav-item d-none d-sm-inline-block dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">Impact</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/reporting/ghg_reduction">GHG Reduction</a></li>
    </ul>
</li>

<li class="nav-item d-none d-sm-inline-block dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">Policy</a>
    <ul class="dropdown-menu">
        <li class="dropdown-header">General</li>
        <li class="navlist"><a href="{% url 'policy:policy_data_about' %}">About</a></li>
        <li class="navlist"><a href="{% url 'policy:Latest' %}">Latest</a></li>
        <li class="dropdown-header">Country Level Policies</li>
        <li class="navlist"><a href="{% url 'policy:DataFlow_categories' %}">Catalog</a></li>

    </ul>
</li>