{% extends "start/tabular.html" %}
{% load i18n static %}
{% load custom_tags %}
{% load humanize %}

{% block title %}
    {{ title }} PCAF Mortgage Report
{% endblock %}

{% block messages %}
    <div class="helpblock">
        <p>PCAF Mortgage Report</p>
    </div>
{% endblock %}

{% block content %}

    <div class="card card-primary card-outline">
        <div class="card-body pad table-responsive">


            <div class="card card-info">
                <div class="card-header">
                    <h4> PCAF Report of Mortgage GHG Inventory Emissions</h4>
                </div>

                <div class="card-body">
                    <table id="data_list" class="display responsive" width="100%">
                        <thead>
                        <tr>
                            {% for entry in TableHeader %}
                                <th>
                                    {{ entry }}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in TableRows.items %}
                            <tr>
                                {% for c in value %}
                                    <td>
                                        {{ c }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                </div>
            </div>

        </div>

        <script>
            $('#data_list').DataTable({
                "pagingType": "full_numbers",
                "responsive": true,
                "bSort": true,
                "displayLength": 50,
                "autoWidth": true,
                "searching": false
            });
        </script>



{% endblock %}