/*.dj_map_wrapper {*/
/*    width: 100%;*/
/*    height: 300px;*/
/*}*/

.dj_map {
    width: 300%!important;
    height: 300px;
    display: block;
}

/*.django-carto-widget .map {*/
/*    width: 100%;*/
/*    height: 100px;*/
/*}*/

#map_datacenter_location {
    width: 100%!important;
    height: 300px;
}