.select2-container {
    display: inline !important;
}

.cm-s-easymde {
    margin-left: 10px!important;
}

.editor-toolbar {
    margin-left: 10px!important;
}

.dark-mode .navbar-navy {
  background-color: #393e43;
  color: #fff;
}

/*.select2-container--open .select2-dropdown {*/
/*    display: inline !important;*/
/*}*/

/*.select2-container--open .select2-dropdown--above {*/
/*    display: inline !important;*/
/*}*/

/*.select2-container--open .select2-dropdown--below {*/
/*    display: inline !important;*/
/*}*/

/*.select2-dropdown {*/
/*    display: inline !important;*/
/*}*/

/*.select2-results {*/
/*    display: inline !important;*/
/*}*/