.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%
}

.image {
    flex-basis: 40%
}

.text {
    font-size: 20px;
    padding-left: 20px;
}

body {
    font-family: Lato, serif;
    /*background-color: #4d4d4d!important;*/
    /*color: white!important;*/
    /*--bs-body-bg: #4d4d4d !important;*/
    /*--bs-body-color: white !important;*/
}

.card-header {
  background-color: #6291CB!important;
}

.card-header {
    /*background-color: #e6e6e6!important;*/
}

.row {
  --bs-gutter-y: 1.5rem;
  --bs-gutter-x: 1.5rem;
}

.gap-2 {
  gap: 2rem !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	text-shadow: none;
    color:white;
}