.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%
}

.image {
    flex-basis: 40%
}

.text {
    font-size: 20px;
    padding-left: 20px;
}

body {
    font-family: Lato, serif;
    background-color: #4d4d4d;
    color: white;
}
